body {
	background-color: #66e0ff;
}

.main {
	height: 128px;
	width: 25%;
	background-color: olive;
	margin: 1% auto;
	align: center;
	border: 1px solid;
	border-radius: 8px;
}

input {
	background-color: #f2f2f2;
	align: center;
	margin: 1% auto;
}